.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: darkblue;  
  text-align: center;
}

#timer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align:right;
}

#start-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: maroon;
}

#questions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#answers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}





#answers{
    list-style: none;
    display: none;
}

